
.body {
    width: 360px;
    background-color: black;
    margin: 0;
}

h2,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: column;
}

.top-block {
    display: flex;
    justify-content: space-between;
    padding: 24px 18px 0px 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "Inter Regular";
}

.navbar a {
    color: white;
    font-size: 16px;
    line-height: 19px;
}

.navbar a:first-of-type {
    text-decoration: none !important;
}

.logo {
    background: url(../../images/logo.svg);
    width: 78px;
    height: 15px;
    background-repeat: no-repeat;
}

.main-title {
    margin-top: -20px;
    font-family: "EB Garamond Regular";
}

.main-title h1 {
    color: white;
    display: flex;
    flex-direction: column;
    height: 221px;
    gap: 0;
    background: url(../../images/polygen.svg), url(../../images/ellipse.svg);
    background-repeat: no-repeat;
    background-position-y: 30px, bottom;
    background-position-x: right, left;
}

.main-title :last-of-type {
    display: flex;
    justify-content: end;
}

.main-title p:nth-child(even) {
    display: flex;
    justify-content: center;
}

.main-title p {
    margin: 0;
    font-size: 72px;
    line-height: 72px;
}


.entry {
    color: white;
    display: flex;
    font-family: "Inter Regular";
}



.black-block {
    color: white;
    
}

.yellow-block {
    background-color: yellow;
}

.black-block,
.yellow-block {
    padding: 38px 20px;
}

.article-title h2 {
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond Medium";
}

.article-title p:first-child {
    text-align: end;
}

.article-title p {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
}

ul {
    padding: 0 20px;
    font-family: "Inter Regular";
}

b {
    font-family: "Inter Bold";
}

.intro-text {
    font-size: 20px;
    margin: 32px 0;
    line-height: 27px;
    font-family: "Inter Regular";

}

.person-name {
margin:8px 0;
font-size: 16px;
font-family: "Inter Bold";
}
.person-photo img {
    width: 100px;
    height: 100px;
    
}

.personal-advice {
    background: #343434;
    border-radius: 30px;
    padding: 20px;
}

.text-in-frame {
    font-size: 16px;
    line-height: 22px; 
    font-family: "Inter Regular";
    
}

h3,h4,h5 {
    font-size: 22px;
    line-height: 30px;
    font-family: "EB Garamond Medium";
}

.frame {
    background: #FEE42A;
    color:black;
    border-radius: 30px;
     margin: 32px 0; 
     padding: 20px; 

}
.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 62px;
    border-top: 1px solid #FEE42A ;
    padding: 0px;
    margin-top: 60px;
    
}

.bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding: 20px;
    font-family: "Inter Regular";
    line-height: 22px;
    font-size: 16px;
}

.social {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}

h6 {
    font-size: 16px;
}